<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripadvisor</title>
    <link rel="stylesheet" href="../static/assets/css/fonts.css" />
    <link rel="stylesheet" href="../stacic/assets/css/reset.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <link rel="stylesheet" href="../static/assets/css/responsive.css" />
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css" />
    <script
      src="https://kit.fontawesome.com/5e8b469dd2.js"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
    <header class="container">
      <nav>
        <div id="menu">
          <i class="fas fa-bars"></i>
        </div>
        <div id="logo">
          <a href="#"><img src="../static/assets/img/icons/Tripedialogo.png"  alt="Tripedia" /></a>
        </div>
        <div class="search-group">
          <input
            type="text"
            type="search"
            class="search"
            placeholder="Search something"
          />
          <i class="fas fa-search"></i>
            <a href="/search_hotel" class="link blackbutton1">
                    <span>SEARCH</span></a>
        </div>

            <div class="links">

                {% if 'username' not in session %}
                    <a href="/login" class="link blackbutton">
                    <span>Login</span>
                    </a>
                    <a href="/register" class="link blackbutton">
                    <span>Register</span>
                    </a>
                {% else %}
                <span>Welcome, {{ session['username'] }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/edit_profile" class="link blackbutton">
                    <span>Edit Info</span>
                    </a>
                <a href="/logout" class="link blackbutton">
                    <span>Logout</span>
                </a>

                {% endif %}
            </div>
      </nav>
    </header>
    <main class="container">
      <section>
        <h1 class="title">
          <span>Tripedia</span><span class="black">Your travel expert</span>
        </h1>
        <nav id="activities">
          <a href="#lastActivity" class="scroll hide">
            <i class="fas fa-chevron-right scroll"></i>
          </a>
          <a href="/search_hotel" class="activity">
            <div>Hotels</div>
            <i class="fas fa-hotel"></i>
          </a>
          <a href="#" class="activity">
            <div>Tourist Destinations</div>
            <i class="fas fa-hiking"></i>
          </a>
            <a href="/search_tickets" class="activity">
            <div>Tickets</div>
            <i class="fas fa-hiking"></i>
          </a>
            <a href="#" class="activity">
            <div>Recommendations</div>
            <i class="fas fa-hiking"></i>
          </a>
        </nav>
        <div class="gallery">
          <img src="../static/assets/img/oldport2.jpg" alt="oldport2" class="main" />
          <div class="photos">
            <img src="../static/assets/img/montroyal.jpg" alt="montroyal" />
            <img src="../static/assets/img/oldport.jpg" alt="oldport" />
          </div>
          <div class="allpictures">
            <a href="#" class="link blackbutton">
              <i class="fas fa-images"></i> See all photos
            </a>
          </div>
        </div>
      </section>
    <footer id="footer">
      <a href="#" id="contact">Contact Us</a>
        <a href="#"><img src="../static/assets/img/icons/Tripedialogo.png" style="width: 25%;" alt="Tripedia" /></a><p></p>
      <a href="#">Group 7</a> - 2023
    </footer>

    <div class="modal" id="modal">
      <div
        class="modal-dialog modal-dialog-centered fade-scale"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enter Message</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body center">
            <form method="post" class="autoform">
              <input type="text" name="firstname" placeholder="First Name" />
              <input type="text" name="lastname" placeholder="Surname" />
              <input type="email" name="email" placeholder="xxxx@xxxxx.COM" />
              <textarea
                name="message"
                id=""
                cols="30"
                rows="10"
                placeholder="Send Message"
              ></textarea>
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/assets/js/main.js"></script>
                  </main>
  </body>
</html>
