<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<td>Hotel_name</td>
<td>address</td>
<td>Price</td>
<td>score</td>
<br>
{% for result in results %}
    <tr>
        <td>{{result['Hotel_name']}}</td>
        <td>{{ result['address']}}</td>
        <td>{{ result['Price']}}</td>
        <td>{{ result['score']}}</td> 
    </tr>
<br>
{% endfor %}
<br>
<br>
<br>
<form method="post" action="/search">
    Keyword: <input type="text" name="Keyword" required><br>
    Checkin: <input type="text" name="checkin" required><br>
    Checkout: <input type="text" name="checkout" required><br>
    <input type="submit" value="Search">
</form>

</body>
</html>


